html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-family: "PT Sans Narrow", PT Sans, sans-serif;
    font-style: bold;
    text-transform: uppercase;
}

h1 {
	font-size: 30px;
    line-height: 42px;  
}

h2 {
	font-size: 14px;
    line-height: 18px;    
}